@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-google: "Google Sans", sans-serif;
  --font-garamond: "EB Garamond", serif;
	--font-drawably: "Drawably Pen", sans-serif;
	
	/* --color-primary: #FC482E; */
	--color-black: #0C121D;
	--color-white: #FFFFFF;
	--color-purple: #9777C9;
	--color-green: #05D1A8;
	--color-blue: #139BFA;
	--color-red: #FC482E;
	--color-yellow: #FEC700;

	--color-bitmore-yellow: #FFFB00;
	--color-bitmore-black: #0C0C0C;
	--color-bitmore-white: #FAFAFA;
	--color-bitmore-gray: #262626;
	--color-bitmore-white-2: #EBEBEB;
}

.funny-rotate {
  @apply z-10 transition-all duration-300 ease-out cursor-pointer hover:-rotate-3 hover:scale-105;
}

.nav-content-item {
  @apply transition-all duration-300 ease-in-out cursor-pointer hover:font-semibold;
}

.nav-menu-item {
  @apply flex items-center gap-2 transition-all duration-300 ease-in-out cursor-pointer hover:ml-1 hover:font-semibold;
}

.swiper {
  background-color: white;
}

.font-drawably {
  font-family: "Drawably Pen", Inter, sans-serif;
}

* {
  @apply font-jakarta;
}

h2 {
	/* @apply text-red; */
}

/* section {
  @apply w-full;
} */

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir/Avenir-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir/Avenir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir/Avenir-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir/Avenir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@theme {
  --font-avenir: "Avenir", sans-serif;
}
